
@font-face {
    font-family: '#';
    src: url('#') format('woff2'),
         url('#') format('woff'),
         url('#') format('otf'),
         url('#') format('svg');
    font-weight: normal;
    font-style: normal;

}
