//=======fonts=======//

$common-font: 'Roboto', sans-serif;
$bold-font: 900;
$regular-font: 400;
$light-font: 300;



//======colors======//

$bg-color: #0a151f; 
$bg-gradient: linear-gradient(to bottom, #0a151f 0%, #102538 100%) no-repeat;
$tnav-gradient: linear-gradient(#78011c,#690118 60%,#450110);
$bnav-gradient: linear-gradient(#960123,#78011c 60%,#640117);
$white-color: #ffffff;



