<nav class="nav footer_nav">
 <div class="container">
	<ul class="nav_menu nav_menu__ct">
		<li class="nav_item nav_item__ct">
			<a href="#" class="nav_link">Terms</a>
		</li>
		<li class="nav_item nav_item__ct">
			<a href="#" class="nav_link">Privacy Policy</a>
		</li class="nav_item">
		<li class="nav_item nav_item__ct">
			<a href="#" class="nav_link">Faq</a>
		</li>
		<li class="nav_item nav_item__ct">
			<a href="#" class="nav_link">Responsible Gaming</a>
		</li>
		<li class="nav_item nav_item__ct">
			<a href="#" class="nav_link">Partners</a>
		</li>
	</ul>
</div>
</nav>
<div class="container">
	<div class="footer_content">
		<div class="footer_block">
			<ul class="footer_items">
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/boss-studio.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/anotherGames.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/netent.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/bet-soft.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/gameart.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/soft-bet.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/pragmatic.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/quickspin.png" alt="">	
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/evolution-gaming.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/hlc.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/realTimeGaming.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/playnGo.png" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="footer_block">
			<ul class="footer_items">
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/visa.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/mastercard.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/maestro.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/scrill.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/euteller.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/neteller.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/advcash.png" alt="">	
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/payeer.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/yandex.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/wiretransfer.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/qiwi-wallet.png" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="footer_block">
			<ul class="footer_items">
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/gerb.png" alt="" width="32">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/RTC.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/gamingLabs.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/18+.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/askgamblers.png" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="footer_block">
			<ul class="footer_items">
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/fcb.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/ytb.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/twiit.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/insta.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/lnkd.png" alt="">
					</a>
				</li>
				<li class="footer_logo">
					<a class="footer_link" href="#">
						<img src="img/footer/google.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer_copyright">Copyright 2015 © All Rights Reserved. bosscasino.com is owned and operated by Boss Gaming Group N.V. and Boliviena Holdings Ltd., Curacao / The NetEnt Casino Games are operated under the license of Boss Gaming Group N.V. with number of license 8048/JAZ2015-041
		Boss Development Ltd.,Ground Floor, Palace Court, Church Street, St. Julians STJ3049, Malta
		Gambling can be addictive. Please Bet Responsibly.</div>
</div>	