<div class="container">
	<!--<div class="main_content">-->
		<div class="uk-grid main-grid">
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">
				<img class="main_img" src="img/games/gonzos_quest.jpg" alt="">
				<div class="main_title">Gonzo's Quest</div>
				<a href="#" class="main_link">Play</a>
			</div>	
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">
				<img class="main_img" src="img/games/guns_n_roses.jpg" alt="">
				<div class="main_title">Guns N'Roses</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/starburst.jpg" alt="">
				<div class="main_title">Starburst</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/twin_spin.jpg" alt="">
				<div class="main_title">Twin Spin</div>
				<a href="#" class="main_link">Play</a>
			</div>
	
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">
				<img class="main_img" src="img/games/jumbo_jocker.png" alt="">
				<div class="main_title">Jumbo Jocker</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/gems.png" alt="">
				<div class="main_title">Giovanni's Gems</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/goblins.jpg" alt="">
				<div class="main_title">Greedy Goblins</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/beanstalk.png" alt="">
				<div class="main_title">Jack and the Beanstalk</div>
				<a href="#" class="main_link">Play</a>
			</div>	
	
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">
				<img class="main_img" src="img/games/dead_alive.png" alt="">
				<div class="main_title">Dead or Alive</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/finn.jpg" alt="">
				<div class="main_title">Finn and the Swirly Spin</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/anger.png" alt="">
				<div class="main_title">The Angler</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/blcakjack.jpg" alt="">
				<div class="main_title">American Blackjack</div>
				<a href="#" class="main_link">Play</a>
			</div>
		
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">
				<img class="main_img" src="img/games/roulette.jpg" alt="">
				<div class="main_title">European Roulette</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/wolf_cub.png" alt="">
				<div class="main_title">Wolf Cub</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/aloha.jpg" alt="">
				<div class="main_title">Aloha! Cluster Pays</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/jungle.png" alt="">
				<div class="main_title">Jungle Spirit</div>
				<a href="#" class="main_link">Play</a>
			</div>
	
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">
				<img class="main_img" src="img/games/event_horizont.jpg" alt="">
				<div class="main_title">Event Horizon</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/slotfather.jpg" alt="">
				<div class="main_title">Slotfather JP</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/rocks_revenge.jpg" alt="">
				<div class="main_title">Rook's Revenge</div>
				<a href="#" class="main_link">Play</a>
			</div>
			<div class="main_item uk-width-1-4 uk-width-medium-1-3">	
				<img class="main_img" src="img/games/fairytale.png" alt="">
				<div class="main_title">Fairy Tale Legends</div>
				<a href="#" class="main_link">Play</a>
			</div>
		</div>
	
</div>	