<div class="container nav_container">
	<ul class="nav_menu">
		<li class="nav_item">
			<a href="#" class="nav_link">Video Slots</a>
		</li>
		<li class="nav_item">
			<a href="#" class="nav_link">Live Games</a>
		</li class="nav_item">
		<li class="nav_item">
			<a href="#" class="nav_link">Table Games</a>
		</li>
		<li class="nav_item">
			<a href="#" class="nav_link">Video Poker</a>
		</li>
		<li class="nav_item">
			<a href="#" class="nav_link">Classic Slots</a>
		</li>
		<li class="nav_item">
			<a href="#" class="nav_link">Jackpot Games</a>
		</li>
		<li class="nav_item">
			<a href="#" class="nav_link">Virtual Sports</a>
		</li>
		<li class="nav_item">
			<a href="#" class="nav_link">New Games</a>
		</li>
	</ul>
</div>
<div class="burger">
    <div class="burger_top"></div>
    <div class="burger_middle"></div>
    <div class="burger_bottom"></div>
</div>
<nav class="mobile">
    <ul class="mobile_menu">
        <li class="mobile_item"><a href="#" class="mobile_link">Video Slots</a></li>
        <li class="mobile_item"><a href="#" class="mobile_link">Live Games</a></li>
        <li class="mobile_item"><a href="#" class="mobile_link">Table Games</a></li>
        <li class="mobile_item"><a href="#" class="mobile_link">Classic Slots</a></li>
        <li class="mobile_item"><a href="#" class="mobile_link">Jackpot Games</a></li>
        <li class="mobile_item"><a href="#" class="mobile_link">Virtual Sports</a></li>
        <li class="mobile_item"><a href="#" class="mobile_link">New Games</a></li>
    </ul>
</nav>